# === Compilados de Kotlin y Java ===
*.class
*.jar
*.war
*.ear
*.out
.kotlinc/

# === Carpetas de construcción / Salida ===
build/
bin/
out/

# === Archivos temporales y de prueba ===
*.mp3
cancion_descargada.mp3

# === Configuración de Entornos / IDEs ===
.vscode/
*.code-workspace
.idea/
*.iws
*.iml
*.ipr

# === Sistema Operativo ===
.DS_Store
Thumbs.db
desktop.ini
